@charset: utf-8;

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    overflow: hidden;
}

li,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#weekdate .week ,#weekdate .date {
    margin:10px 0 10px 10%;
    width: 90%;
}

.week , #list li {
    white-space: nowrap;     
}

.week > span ,#list span {
    white-space:nowrap;
    display: inline-block;
    width: 13%;
    margin: 10px 0;
    height: 16px;
}

#list span {
    margin-right: 7px;
}

.date {
    position: relative;
    overflow: hidden;
    height: 36px;
}

#list>li {
    position: absolute;
    width: 100%;
}
